*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.post{
    margin: 20px;
}
.post_title{
    font-size: 20px;
    font-weight: 500;
}
.post_body,.post_title,.post_footer{
    margin: 10px;
}
.post_footer > span{
    padding-right: 10px;
    
}
.user_gender,.user_email{
    padding-left: 10px;
    border-left: 1px solid black;
}