*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.post{
    margin: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(223, 223, 223);
}
.post_title{
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
    border-bottom: 1px solid black;
}
.post_body,.post_title,.post_footer{
    padding: 10px;
}
.post_body{
    padding: 20px 10px;
    border-bottom: 1px solid black;
}
.post_footer > span{
    padding-right: 10px;
    font-weight: 500;
}
.user_gender,.user_email{
    padding-left: 10px;
    border-left: 1px solid black;
}

.post div{
    cursor: pointer;
}

